grant {
  // needed because of the hot reload functionality
  permission java.net.SocketPermission "*", "connect,resolve";
  permission java.lang.RuntimePermission "setContextClassLoader";
  permission java.security.SecurityPermission "*";
  permission java.net.SocketPermission "172.16.41.74:3306","accept";
  permission java.net.SocketPermission "172.16.41.74:3306","listen";
  permission java.net.SocketPermission "172.16.41.74:3306","resolve";
  permission java.net.SocketPermission "172.16.41.74:3306","connect";
};